img {
  width: 200px;
}

h1 {
  text-align: center;
}

.allPokes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 20px;
  border: 2px black solid;
  justify-content: space-around;
  border-radius: 20px;
  min-width: 40%;
  align-self: center;
}